@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  /* fonts */
  --ff-p: "Lexend Deca", sans-serif;
  --ff-h: "Big Shoulders Display", cursive;

  /* COLOR */

  /* background color */
  --bk-orange: hsl(31, 77%, 52%);
  --bk-dark-cyan: hsl(184, 100%, 22%);
  --bk-very-dark-cyan: hsl(179, 100%, 13%);

  --p-cl: hsla(0, 0%, 100%, 0.75);
  --light-gray: hsl(0, 0%, 95%);
}

/* General style */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 0.9375rem;
  font-family: var(--ff-p);
  line-height: 1.5625rem;
  font-weight: 400;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.card {
  border: solid 2px orangered;
  max-width: 57.5rem;
  display: flex;
}

/* card itm style */

.card__content--orange {
  background-color: var(--bk-orange);
}

.card__content--cyan {
  background-color: var(--bk-dark-cyan);
}

.card__content--dark-cyan {
  background-color: var(--bk-very-dark-cyan);
}

.card__content {
  padding: 3rem 2.96875rem 3rem 3rem;
}

.card__icon {
  margin-bottom: 2.1875rem;
}

.card__header {
  font-family: var(--ff-h);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: var(--light-gray);
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
}

.card__text {
  color: var(--p-cl);
  opacity: 0.75;
  margin-bottom: 5.1875rem;
}

.card__link--orange {
  color: var(--bk-orange);
}

.card__link--cyan {
  color: var(--bk-dark-cyan);
}

.card__link--dark-cyan {
  color: var(--bk-very-dark-cyan);
}

.card__link:link,
.card__link:visited {
  text-decoration: none;
  background-color: var(--light-gray);
  border: none;
  border-radius: 25px;
  padding: 0.6875rem 1.96875rem 0.75rem 1.96875rem;
}

.card__link:active,
.card__link:hover {
  background: none;
  border: 2px solid #fff;
  color: var(--light-gray);
}
